
* {
margin : 0;
padding : 0;
}

body {
font-family : Arial, Helvetica, sans-serif;
font-size : 16px;
letter-spacing: normal;
}

img{

}

a:link {
color : #666666;
text-decoration : none;
}

a:active {
text-decoration : line-through;
}

a:visited {
color : #707070;
text-decoration : none;
}

a:hover {
color : #282828;
text-decoration : line-through;
}

a img {
border : medium none;
}

#menu {
background: transparent;
bottom : 0;
left : 20px;
text-align : right;
width: 320px;
margin-top : 90px;
position : fixed;
top : 0;
}

#menu ul {
list-style-image : none;
list-style-position : outside;
list-style-type : none;
margin : 0 0 15px;
}

#menu ul li.section-title {
color : #000000;
font-family : georgia;
font-size : 80%;
/*font-style : italic;
font-weight: bold;*/
background-color: #ffffff;
}

#content {
overflow: scroll !important;
height : 100%;
margin : 0 0 0 0;
border-top : 10px solid transparent;
margin-top : 30px;
width: 600px;
margin-left: 320px;
text-align: left;
}

#contenu {
overflow: scroll !important;
position: absolute;
z-index: 4;
margin-top: 0px;
margin-left: 0px;
}
		
.container {
margin-top : 0px;
margin-left : 20px;
}

#content p {
width : 550px;
margin-top : 0px;
}

p {
text-align: justify;
margin : 0 0 0 0;
}

h1 {
font-size : 32px;
}

h2 {
font-size : 24px;
}

h3 {
font-size : 16px;
}

h4 {
font-size : 12px;
}

#img-container {
margin : 0;
padding : 0;
}

#img-container p {
width : 800px;
margin : 0;
padding : 0 0 12px 0;
}

#once {
clear : left;
}

#num {
padding-left : 6px;
}

.img-bot {
margin-bottom : 6px;
display : block;
}

sub {
font-size : 12px;
background-color: rgba(255,255,255,0.5);
}

sub1 {
font-size : 12px;
background-color: rgba(212,255,0,0.8);
}

table { 
writing-mode: tb-rl;
font-weight: normal;
table-layout: absolute;
margin-top: 70px;
margin-left: 260px; 
}

th { 
height: 100px;
border: 0px solid #000;
width: 100px; 
}

div.container {
z-index: 1;
margin: 50px;   
}

div.left, div.right {
float: left;
padding: 5px;    
}
div.left {
/*background-color:orange;*/    
}

div.right {
/*background-color: yellow;*/  
}

.celda {
width: 100px;
height: 100px;
line-height: 40px;
}
